{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "generator-star-spacing": "off",
    "no-underscore-dangle": "off",
    "import/imports-first": "off"
  }
}
